@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  * {
    font-family: 'Poppins', sans-serif;
  }
  body {
    cursor: none  !important; 
  }
  
  button, a, .clickable {
    cursor: pointer !important;
  }
